
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-weight:400;
    font-style:normal;
  }
  
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

  











/* shared style */
.container{
    width:1060px;
    margin:50px auto;
}
.primary-bg-clr{
    background-color:black;
}
.text-clr{
    color:rgba(255, 255, 255, 1) ;
}
.btn-primary{
    border: 1;
border-radius:42px ;
padding: 16px 40px;
font-weight: 700;
font-size: 18px;
color:rgba(255, 255, 255, 1)  ;
}
.join-now{
    background-color:rgba(230, 83, 60, 1)  ;
    border: 1px solid rgba(230, 83, 60, 1)  ;
    margin: 14px 14px 14px 0;
}
.download{
    background-color:black;
    border: 1px solid rgba(255, 255, 255, 1);
}
.primary-clr{
    color:rgba(255, 255, 255, 0.5) ;
}
.primary-bg{
    background-color:rgba(230, 83, 60, 1) ;
}
.section-title{
    text-align: center;
    font-size:3rem ;
    font-weight:800;
}
/* shared style done */
.linear-clr{
    /* background: linear-gradient (45deg, rgba(17, 17, 17, 0.8) 0%, rgba(119, 119, 119, 0) 100%); */
    /* background-color: rgb(154, 151, 151); */
    color:rgba(255, 255, 255, 0.5);
}
header{
    background-color: rgb(12, 12, 12);
    
}
.hero-container{
    padding: 60px 190px ;
}
.nav-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-title{
    font-size:36px ;
    font-weight: 900;
    color:rgba(230, 83, 60, 1)  ;
}
.nav-options{
    display: flex;
    justify-content:space-evenly ;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 6px  12px 0px;

}
.nav-options li{
    list-style: none;
    }
    .nav-options a{
    text-decoration:none;
    font-size: 18px;
}
.home{
    background-color: rgba(230, 83, 60, 1) ;
    border-radius: 46px;
    padding: 12px 24px;
}
.hero-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-header{
    font-size:78px;
    width:520px;
    font-weight:900;
}


    

    /* habit section style start */
 .habit-section{
    margin:100px auto;
 }
.habit-title{
    font-size:48px ;
    font-weight:800;
    width:670px ;
    color: #ffffff;
     margin:20px auto;
     text-align: center; 
}
.habit-des{
    text-align: center;
    width: 670px;
    margin: 20px auto;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
}
.imgae-box-container{
    width: 1044px;
    padding: 100px 0px;
     background-color: black;
     margin: 0 auto;
     margin-top:0px;
     color: white;
     display: flex;
     justify-content: space-between;
     gap: 40px;
     
}
.single-img-div{
    text-align: center;
    width: 231px;
    height: auto;
    
}


    

.img-div{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
}

.img-div img{
    width:100%;
    height: 100%;
    border-radius:100%;
} 




/* habit section style end */
.extra-run{
    background-color:#222222; 
    backdrop-filter: blur(1px) ;
    display: flex;
    justify-content:space-between ;
    align-items:center;
    padding: 20px 40px;
    border-radius:18px ;
}
.run-des{
width: 445px;
}
.run-des h3{
    font-size:3rem ;
    font-weight:800;
}
.run-img{
    width: 365px;
    height: 312px;
   
    
}
.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;

}
     /* Trainings and Exercise section style start  */
 .training-exercise{
 }
     .training-des{
        width: 670px;
        margin-bottom: 50px;
     }
     .training-des h3, .team h3{
        font-size:3rem ;
    font-weight:800;
     }
     .training-images img{
        
            width: 100%;
            height: 100%;
     }
     .row-1,
.row-2{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
}
    .row-1{
        display: grid;
    grid-template-columns: 0.7fr 1.40fr 0.9fr ;
    
    }
    .row-2{
        display: grid;
        grid-template-columns: 1.20fr 0.8fr  1fr ;
    }
    .row-1-1st img{

    }
    .row-1-1st,
    .row-1-2nd,
    .row-1-3rd,
    .row-2-1st,
    .row-2-2nd,
    .row-2-3rd{
        position: relative;
    }
    

.row-1-1st::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 255, 209, 0.238);
}
    .row-1-1st-des{
        position: absolute;
        top:80%;
        left:30%;
        color:black;
        font-size: 1rem;
        font-weight: 600;
        transform: translate(-50% , -50%);
    }
    .row-1-2nd-des{
        position: absolute;
        top:10%;
        left:20%;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 600;
        transform: translate(-50% , -50%);
    }
    .row-1-2nd::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(255, 0, 0, 0.412);
    }
    .row-1-3rd-des{
        position: absolute;
        top:70%;
        left:10%;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 600;
        /* transform: translate(-50% , -50%); */
    }
    .row-1-3rd::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.27);
    }
    .row-2-1st-des{
        position: absolute;
        top:10%;
        left:55%;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 600;
        /* transform: translate(-50% , -50%); */
    }
    .row-2-1st::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(0, 0, 0, 0.5);
    }
    .row-2-2nd-des{
        position: absolute;
        top:70%;
        left:10%;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 600;

        /* transform: translate(-50% , -50%); */ 
    }
    .row-2-2nd::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(66, 255, 0, 0.3);
    }
    .row-2-3rd-des{
        position: absolute;
        top:70%;
        left:15%;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 600;
        /* transform: translate(-50% , -50%); */ 
    }
    .row-2-3rd::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 71, 255, 0.3);
    }

         /* Trainings and Exercise section style end  */  
    
/* BMI calculator section style start */
.bmi-info{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
padding: 50px 190px ;

background-color: rgba(34, 34, 34, 1);
margin: 50px 0;
}
.bmi-des{
    width: 670px;
    margin: 0 auto;
}
.bmi-des h3{
    font-size:40px ;
    font-weight:700 ;
}
.bmi-chart h4,
.bmi-calculate h4{
    width: 445px;
    font-size:20px;
    font-weight: 600;
}
.bmi-calculate{
    width: 577px;
    gap: 12px;
}
table{
    width: 310px;
    height:215px;
    text-align: left;
    border-collapse: collapse;

}
td, th{
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding-left: 16px;

}
.input, .option{
    width:577px;
    display: flex;
    justify-content: space-between;

}
.input input , .option input, .option select, .select{
    width: 50% 50%;
    padding:12px 40px 12px 20px ;
    border-radius: 8px;
    border: none;
    background-color:rgba(255, 255, 255, 0.6) ;
    gap: 10px;
    margin-bottom: 10px;
}
.option select{
    width:218px;
    margin-bottom:10px ;
}
.select{
    width: 577px;
    padding:12px 40px 12px 20px ;
}
.select






/* BMI calculator section style end*/

    /*team section start  */


    /*team section end  */
